.float-container {
    padding: 20px;
    height: 100%;
    font-family: Chalkduster, fantasyl
}

textarea{
    transform: skew(-3deg, 1deg);
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    float: left;
}

.float-child {
    width: 50%;
    float: right;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #aaaaaa;
    color: black;
    font-family: Chalkduster, fantasy;
}

.create-form {
    margin-left: 100px;
    width: 40%;
    float: left;
    padding: 20px;
    font-family: Chalkduster, fantasy
}

.create-form button {
    margin-top: 30px;
    width: 150px;
    height: 70px;
    background-color: white;
    border: 2px solid black;
    color: #111;
    font-size: 25px;
    font-family: Chalkduster, fantasy;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    transform: skew(-3deg, 1deg);
    cursor: pointer;
}