body {
  margin: 0;
  font-family: Chalkduster, fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-image: url("https://i.pinimg.com/originals/8b/d6/a7/8bd6a785a30ccaa146f346d41e6453bb.jpg");
  background-repeat: repeat;
  background-size: cover;
}
.banner-img{
  width: 800px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.album-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.album-image {
  cursor: pointer;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.album-image:hover {
  opacity: 0.3;
}

.album-info-container ul {
  list-style-type: none;
}

.concert-card {
  border-style: solid;
  margin: 5px;
  width: fit-content;
}

.concerts-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}